.main {
  width: 375px;
  height: 6522px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  order: 0;
  left: 0;
  top: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  order: 0;
  left: 0;
  top: 0;
  width: 375px;
  height: 48px;
  background: #3c3a39;
}

.placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 101px;
  height: 25px;
  left: 20px;
  border-radius: 8px;
  margin-top: 0;
}

#text {
  width: 100px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex: none;
  order: 0;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  padding: 2px;
  top: -24px;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 320px;
  border-radius: 8px;
  margin-top: 30px;
}

#menu-icon {
  position: absolute;
  display: flex;
  width: 18px;
  height: 12px;
  right: 6px;
  margin-top: -2px;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 590px;
  background: url("./Images/a.png") no-repeat;
  background-position: 100% 100%;
  order: 1;
  background-color: #1c1a19;
}

.head {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.primary-text {
  width: 327px;
  height: 124px;
  display: flex;
  margin-left: 20px;
  margin-top: 120px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.secondary-text {
  width: 327px;
  height: 27px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  display: flex;
  margin-top: 242px;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  text-align: left;
  width: 327px;
  height: 123px;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  display: flex;
  margin-top: 281px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-top: 424px;
  width: 200px;
  height: 40px;
}

#github-icon {
  order: 0;
  border-radius: 8px;
}

#linkedin-icon {
  order: 1;
  border-radius: 8px;
}

#angelist-icon {
  order: 2;
  border-radius: 8px;
}

#twitter-icon {
  order: 3;
  border-radius: 8px;
}

#medium-icon {
  order: 4;
  border-radius: 8px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  width: 375px;
  height: 3455px;
  background: #fff;
  order: 2;
  position: absolute;
  margin-top: 590px;
  margin-left: -8px;
  float: left;
  top: 0;
}

.title {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 107px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  left: 20px;
}

#recent {
  width: 327px;
  height: 10px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  color: #1c1a19;
}

.line {
  width: 327px;
  margin-top: 24px;
}

.frame {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 3028px;
  align-items: center;
  gap: 24px;
  position: relative;
  bottom: 50px;
}

.featured {
  justify-content: center;
  gap: 24px;
  width: 375px;
  height: 568px;
}

.img {
  width: 327px;
  height: 237px;
  background: url("./Images/Work-img1.png") no-repeat;
  margin-left: 20px;
}

.block {
  display: block;
  flex-direction: column;
  width: 327px;
  height: 307px;
  position: relative;
  left: 20px;
  margin-top: 50px;
}

.multi {
  display: block;
  width: 327px;
  height: 1px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  color: #091e42;
  position: relative;
  bottom: 30px;
  margin-top: 50px;
}

.sup {
  width: 327px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  position: relative;
  bottom: 40px;
  margin-top: 50px;
}

.textblock-tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 297px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  align-self: baseline;
  margin-top: -158px;
  list-style-type: none;
  margin-left: 20px;
}

.textblock-tags > li {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.textblock-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  bottom: 30px;
  width: 124px;
}

#project {
  order: 5;
  border-radius: 8px;
}

.proj {
  display: flex;
  flex-direction: row;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 0;
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

.frame43 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 375px;
  height: 2436px;
  position: relative;
  left: 20px;
  margin-top: 12px;
}

.content-defaults {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 386px;
  background: url("./Images/Img-Placeholder.png") no-repeat;
  background-color: #f4f5f7;
}

.other-content-title {
  width: 295px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 50px;
}

.other-content-description {
  width: 295px;
  height: 87px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 12px;
  color: #fff;
  position: relative;
  top: 10px;
}

.other-content-tags {
  gap: 12px;
  width: 276px;
  height: 40px;
  list-style-type: none;
  color: #fff;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  right: 30px;
}

.other-content-tags > li {
  width: fit-content;
  padding: 10px;
  background: rgba(255, 255, 255, 0.24);
  float: left;
  margin-right: 12px;
}

.other-content-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  top: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about {
  position: absolute;
  width: 375px;
  height: 1601px;
  left: 0;
  top: 4000px;
  background: url("./Images/Frame.png") no-repeat;
  background-color: #1c1a19;
  background-position: 100%;
  background-position-y: 23%;
  align-items: center;
}

.about-primary-text {
  width: 327px;
  height: 79px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 20px;
  margin-top: 120px;
}

.about-description {
  width: 327px;
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 20px;
  margin-top: -36px;
}

.about-link {
  background-color: #ff6b00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
  height: 40;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.about-bottom {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 300px;
  gap: 30px;
  margin-top: 317px;
  align-self: center;
  text-align: center;
  margin-left: 20px;
}

.about-bottom-subtopic {
  width: 150px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  text-align: center;
  align-self: center;
  justify-content: center;
  color: #fff;
  position: relative;
  left: 35px;
  top: 35px;
}

.about-bottom-items > ul > li {
  width: 150px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100px;
  align-items: center;
  text-align: center;
  color: #fff;
  list-style-type: none;
  position: relative;
  top: 24px;
}

.subtopic-language {
  list-style-image: url("./Images/Rectangle55.png");
}

.subtopic-frameworks {
  list-style-image: url("./Images/Rectangle56.png");
}

.subtopic-skills {
  list-style-image: url("./Images/Rectangle57.png");
}

.line2 {
  position: relative;
  margin-top: 120px;
  margin-left: 20px;
}

a:hover,
ul li:hover {
  background-color: #ff6b00;
  cursor: pointer;
}

.content-defaults a:hover {
  cursor: pointer;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.content-defaults a:active {
  cursor: pointer;
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid #e05304;
}
.about-link:hover {
  cursor: pointer;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800; 
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  position: relative;
  top: 5593px;
  background-color: #fff;
  left: -8px;
  height: 849px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  width: 327px;
  height: 216px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #172b4d;
  margin-top: 120px;
}

.bottom form {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 330px;
}

.bottom form input {
  width: 295px;
  height: 18px;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #979493;
  background: #fff;
}

.bottom textarea {
  width: 303px;
  height: 90px;
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  color: #3c3a39;
  background: #fbf8f7;
  border: none;
}

.bottom button {
  width: 131px;
  height: 48px;
  background: #ff6b00;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  color: #fff;
  margin: 24px;
  border: none;
}

.bottom button:hover {
  cursor: pointer;
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.bottom button:active {
  cursor: pointer;
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid #e05304;
}

.bottom button:disabled {
  cursor: pointer;
  background: #5b5957;
  color: #5b5957;
  border: 1px solid #f4f1f0;
}

.bottom-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5592px;
  position: relative;
  width: 375px;
  height: 72px;
  border-top: 1px solid #dfe1e6;
  left: -8px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  flex: none;
  justify-items: center;
  align-content: center;
  align-items: center;
  order: 3;
  list-style-type: none;
  justify-content: space-between;
  position: absolute;
  width: 200px;
  height: 40px;
  margin-right: 40px;
}

.home {
  top: 5455px;
  margin: 120px 0 58px 0;
  left: 112px;
  position: relative;
  width: 375px;
  height: 12px;
}
